.App {
  position: relative;
}
.App table thead tr {
  background-color: #016fdf;
  color: #fff;
}
.App table thead th {
  vertical-align: middle;
}
.App table .form-group {
  margin-bottom: 0px;
}
.mg-top-btm-60 {
  margin-top: 60px;
  margin-bottom: 60px !important;
}
.container > button {
  position: absolute;
}
